{% extends "default.twig" %}
{% block pageId %}brands{% endblock %}

{% block title %}Marcas | {{ parent() }}{% endblock %}

{% block content %}

    {% if msg is not empty %}
        <div class="alert alert-{{ erro ? 'danger' : 'success' }} alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ msg }}
        </div>
    {% endif %}

    <form id="form" action="" method="post">
        <input type="hidden" name="exclude" id="exclude" value="">

        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th class="actions"></th>
            </tr>
            </thead>
            <tbody>
            {% for brand in brands %}
                <tr>
                    <td><label for="name_{{ brand.id }}">{{ brand.id }}</label></td>
                    <td><input name="name[{{ brand.id }}]" id="name_{{ brand.id }}" value="{{ brand.name }}"></td>
                    <td class="actions">
                        <button type="button" class="btn btn-danger" onclick="excludeReg('{{ brand.id }}')">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td><input name="name[new_brand]" id="new_brand" value="" placeholder="Nova Marca"></td>
                <td class="actions"></td>
            </tr>
            </tfoot>
        </table>

        <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Salvar</button>
    </form>

{% endblock %}

{% block script %}
    <script>
        function excludeReg(id) {
            MessageDanger('Deseja realmente excluir o registro de ID ' + id + '?', 'Excluir', 'Excluir', function () {
                $('#exclude').val(id);
                $('#form').submit();
            });
        }
    </script>
{% endblock %}