{% extends "default.twig" %}
{% block pageId %}users{% endblock %}

{% block title %}Usuários | {{ parent() }}{% endblock %}

{% block content %}

    {% if msg is not empty %}
        <div class="alert alert-{{ erro ? 'danger' : 'success' }} alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ msg }}
        </div>
    {% endif %}

    <form id="form" action="" method="post">
        <input type="hidden" name="exclude" id="exclude" value="">

        <table class="table">
            <thead>
            <tr>
                <th>Usuário</th>
                <th>Nome</th>
                <th>Senha</th>
                <th class="actions"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.code }}</td>
                    <td>
                        <input name="name[{{ user.code }}]" id="name_{{ user.code }}" value="{{ user.name }}">
                    </td>
                    <td>
                        <input type="password" name="pass[{{ user.code }}]" id="pass_{{ user.code }}" value="">
                        <button type="button" class="btn btn-default btn-xs"
                                onclick="seePass('pass_{{ user.code }}', this)"
                                title="Ver/Ocultar Senha"><i class="fa fa-eye-slash fa-lg"></i></button>
                    </td>
                    <td class="actions">
                        {% if user.code != userLogged.code %}
                            <button type="button" class="btn btn-danger" onclick="excludeReg('{{ user.code }}')">
                                <i class="fa fa-trash"></i>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <input name="code" id="code_new_user" value="" placeholder="Novo Usuário">
                </td>
                <td>
                    <input name="name[new_user]" id="name_new_user" value="">
                </td>
                <td>
                    <input type="password" name="pass[new_user]" id="pass_new_user" value="">
                    <button type="button" class="btn btn-default btn-xs" onclick="seePass('pass_new_user', this)"
                            title="Ver/Ocultar Senha"><i class="fa fa-eye-slash fa-lg"></i></button>
                </td>
                <td class="actions"></td>
            </tr>
            </tfoot>
        </table>

        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Salvar</button>
    </form>

{% endblock %}

{% block script %}
    <script>
        function seePass(id, element) {
            var tipo = document.getElementById(id);
            if (tipo.type === 'password') {
                tipo.type = 'text';
                element.innerHTML = '<i class=\'fa fa-eye fa-lg\'></i>';
            } else {
                tipo.type = 'password';
                element.innerHTML = '<i class=\'fa fa-eye-slash fa-lg\'></i>';
            }
        }

        function excludeReg(id) {
            MessageDanger('Deseja realmente excluir o registro de ID ' + id + '?', 'Excluir', 'Excluir', function () {
                $('#exclude').val(id);
                $('#form').submit();
            });
        }
    </script>
{% endblock %}